{% extends 'flatpages/default.html' %}

{% block menu %}
    {% include 'post/menu_post.html' %}
{% endblock menu %}

{% block title %}
{% if is_edit %}
    <h1><p class="text-center">Доска объявлений MPOG </p></h1>
    <h5><p class="text-center">Написал {{post.user.username}} от {{post.created|date:'d.m.Y'}}, категория: {{post.cats.name}}</p></h5>
{% else %}
    <h3><p class="text-center">Заголовок: {{post.title}}</p></h3>
    <h4><p class="text-center">Написал {{post.user.username}} от {{post.created|date:'d.m.Y'}}, категория: {{post.cats.name}}</p></h4>
{% endif %}
{% endblock title %}

{% block content %}
    <style>
        body {background-color: {% if current_time.hour >= 19 or current_time.hour <= 7 %} darkcyan {% else %}
        powderblue {% endif %};}
    </style>

{% if is_edit %}
{% include 'script_editor.html' %}

    <form action="/posts/{{user_cat}}/post/{{post.id}}" method="POST" enctype="multipart/form-data" class="text-left">
    {% csrf_token %}

        <div class="input-group">
          <span class="col-1">Категория</span>
            <select class="form-select" aria-label="Default select example" name="cats" required="" id="cats">
                {% for cat in cats %}
                    <option {% if post.cats.name == cat.name %} selected {% endif %} value={{cat.id}} >{{cat.name}}</option>
                {% endfor%}
            </select>
        </div>

        <br>
        <div class="input-group">
          <span class="col-1">Заголовок</span>
         <input type="text" class="form-control" name="title" value="{{post.title}}">
        </div>

        <br>
        <div class="input-group">
          <span class="col-1">Текст</span>
          <textarea id="forTinyMCE" class="form-control" name="content">{{post.content}}</textarea>
        </div>
        <br>
        <p><button type="submit" class="btn btn-primary">Сохранить объявление</button></p>
    </form>

{% else %}

{% include 'script_view.html' %}

        <div class="input-group">
          <span class="col-1">Текст</span>
          <textarea id="forTinyMCE" class="form-control" readonly >{{post.content}}</textarea>
        </div>
{% endif %}
<h2><p class="text-center">Отклики:</p></h2>
{% if clicks %}
    {% for clic in clicks %}
        <h7><p class="text-center">Отклик написал: {{post.user.username}} от {{clic.created|date:'d.m.Y'}}</p></h7>
        <div class="input-group">
          <span class="col-1">Текст</span>
          <textarea class="form-control" name="clic" readonly >{{clic.text}}</textarea>
        </div>
        <br><hr>
   {% endfor%}
{% endif %}


    {% comment %}
    {% endcomment %}

{% endblock content %}


{% block content1 %}
{% endblock content1 %}

<!--

-->