<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h4>Здавствуйте {{username}}!!</h4>
    <h4>Доска объявлений MMORPG</h4>
    <br>
    <h4>на Ваше объявление от {{post.created|date:'d.m.Y'}}</h4>
    <p>Заголовок: {{post.title}} </p>
    <h4>{{text}}</h4>
    <h5>Отклик: {{clicks.text}}</h5>
    <br>
    <h4>Ссылка на ресурс:</h4>
    <br>
    <a href="{{link}}"><u>Доска объявлений MMORPG (отклик)</u></a>
</body>
</html>l>