{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block menu %}
    {% include 'post/menu_post.html' %}
{% endblock menu %}


{% block title %}
{{ 'Подписка'|multiply:20 }}
{% endblock title %}


{% block content %}
<h1>{{ cats|length }} из {{ cats_count }} Категорий на {{ time_now|date:'d.m.Y' }}</h1>
<h3><br></h3>

{%if cats%}
<form method="POST">
    {% csrf_token %}
    <table style="width: 100%">
        <tr>
            <th> Подписка</th>
            <th></th>
        </tr>
        {% for cat in cats %}
        <tr>
            <td>
                <div class="container overflow-hidden">
                  <div class="row gx-5">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="{{cat.id}}" value="" id="{{cat.id}}"
                                   {% if cat.id in user_cats %} checked {% endif %}>
                            <label class="form-check-label" for="{{cat.id}}">
                            </label> {{cat.name}}
                        </div>
                    </div></div></div>

            </td>
        </tr>
        {% endfor%}
    </table>
<br>

    <button type="submit" class="btn btn-primary">Подписаться</button>
</form>

    {%else%}
    <h2>Новостей нет</h2>
    {%endif%}

    {% endblock content %}
