<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h4>Здавствуйте {{username}}!!</h4>
    <br>
    <h4>{{joined}}</h4>
    <br>
    <h4>Поступила заявка на регистрацию</h4>
    <br>
    <h4>на Доске объявлений MMORPG</h4>
    <br>
    <h4>Ссылка на ресурс:</h4>
    <br>
    <a href="{{link}}"><u>Доска объявлений MMORPG</u></a>
<!--    <p> {{ text|truncatechars:50 }} </p> -->
</body>
</html>l>